.foto{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-top: 45px;
    margin-left: 12px;
    transition: 1s;
    cursor: pointer;
}

.foto:hover{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-top: 45px;
    border : 3px solid black;
    transition: 0.3s;
}

section{
background-image:url(fotoPedro2.jpeg );
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 5px;
    display: table;
    border-radius: 20px;
    margin-left: 720px;
    box-shadow: 5px 5px 10px rgba(255, 254, 254, 0.637); 
    border : 3px solid black; 
    background-size: cover;
    background-position: center;
    z-index: 1;
    
}




body{
    background-color: rgb(0, 0, 0);
    border : 1px solid rgb(255, 255, 255);
     
}
footer{
    text-align: center;
   
}
.nome{
    text-align: center;
    font: normal 17pt Courier, monospace;
    font-weight: bold;
    color: white;
}
.cidade{
    text-align: center;
    font: normal 10pt Courier, monospace;
    font-weight: bold;
    color: white;

}
.pro{
    text-align: center;
    font: normal 15pt Courier, monospace;
    font-weight: bold;
    color: white;
}
.pro2{
    text-align: center;
    font: normal 15pt Courier, monospace;
    font-weight: bold;
    color: white;
}

.divPro{
    
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
    border : 2px solid black;
}

.skill{
    text-align: center;
    font: normal 14pt Courier, monospace;
    font-weight: bold;
    color: white;
}

.git{
    text-align: center;
    font: normal 14pt Courier, monospace;
    font-weight: bold;
    color: white;
}

    hr{
        border-color: black;
    }

